  .flex-container-row{
    margin-top: 10px;
    height: 100px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .input-size{
    max-width: 600px;
    min-width: 600px;
    height: 200px;
    min-height: 50px;
    max-height: 300px;
  }
  .add-btn-size, .dlt-btn-size{
    width: 180px;
  }